In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("cities_compiled.csv")

df.head()

,sr,city,zip_code,state,state_code,country_code,coutry,latitude,longitude
0,1,Ashkāsham,NaN,Badakhshan,BDS,AF,Afghanistan,36.68333,71.53333
1,2,Fayzabad,NaN,Badakhshan,BDS,AF,Afghanistan,37.11664,70.58002
2,3,Jurm,NaN,Badakhshan,BDS,AF,Afghanistan,36.86477,70.83421
3,4,Khandūd,NaN,Badakhshan,BDS,AF,Afghanistan,36.95127,72.31800
4,5,Rāghistān,NaN,Badakhshan,BDS,AF,Afghanistan,37.66079,70.67346

In [16]:
df.loc[df['city'] == "Bangalore Rural"]

,sr,city,zip_code,state,state_code,country_code,coutry,latitude,longitude
45871,45872,Bangalore Rural,NaN,Karnataka,KA,IN,India,13.22567,77.57501

In [31]:
print( f'total cities {df.shape[0]}' )
print( f'zip code missing for {df["zip_code"].isna().sum()} ')

total cities 147399
zip code missing for 68856

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147399 entries, 0 to 147398
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   sr            147399 non-null  int64
 1   city          147399 non-null  object
 2   zip_code      78543 non-null   object
 3   state         147399 non-null  object
 4   state_code    147384 non-null  object
 5   country_code  147351 non-null  object
 6   coutry        147399 non-null  object
 7   latitude      147399 non-null  float64
 8   longitude     147399 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 10.1+ MB